<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<h1>Hello there</h1>
	
	<!-- Define a fragment to pass to base.html -->
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
        	<h1 >Smart Contact Manager</h1>
        	<p>Start collecting your contacts in very smarter way</p>
        	<a href="" th:href="@{/user/index}"> <button class="btn btn-primary btn-lg">Get Start</button> </a> 
        </div>
    </section>
    
</body>
</html>